# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# OS / Editor files
.vscode/
.idea/
.DS_Store